<md-card style="height: calc(50vh - 50px + 8px + 8px);">
    <div class="section-headers">Query Builder</div>
    <md-card-content class="small-padding" style="overflow-y: auto;overflow-x: hidden;">
        <md-input-container class="md-block">
            <label>Bin</label>
            <md-select ng-model="$ctrl.queryBuilderForm.bins.selected" ng-change="$ctrl.generateAllowedFormats($ctrl.queryBuilderForm.bins.selected)" aria-label="Delimiter Selector">
                <md-option ng-repeat="bin in $ctrl.queryBuilderForm.bins.options | orderBy:'name'" value="{{bin.name}}">
                    {{bin.name}} ({{bin.count}})
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Format</label>
            <md-select ng-model="$ctrl.queryBuilderForm.format.selected" ng-change="$ctrl.formatQuery($ctrl.queryBuilderForm.bins, $ctrl.queryBuilderForm.format, $ctrl.queryBuilderForm.delimiter)" aria-label="Query View Selector">
                <md-option ng-repeat="queryOptions in $ctrl.queryBuilderForm.format.options" value="{{queryOptions.value}}">
                    {{queryOptions.label}}
                </md-option>
            </md-select>
        </md-input-container>
        <div ng-if="$ctrl.queryBuilderForm.format.selected === 'customFormat'">
            <div class="row">
                <div class="col-xs-4">
                    <md-input-container class="md-block" style="margin-bottom: 0;">
                        <label>Pattern</label>
                        <input ng-model="$ctrl.queryBuilderForm.format.custom.pattern" ng-trim="false" ng-change="$ctrl.formatQuery($ctrl.queryBuilderForm.bins, $ctrl.queryBuilderForm.format, $ctrl.queryBuilderForm.delimiter)">
                        <div class="hint">RegEx</div>
                    </md-input-container>
                </div>
                <div class="col-xs-4">
                    <md-input-container class="md-block" style="margin-bottom: 0;">
                        <label>Replace</label>
                        <input ng-model="$ctrl.queryBuilderForm.format.custom.replace" ng-trim="false" ng-change="$ctrl.formatQuery($ctrl.queryBuilderForm.bins, $ctrl.queryBuilderForm.format, $ctrl.queryBuilderForm.delimiter)">
                        <div class="hint">RegEx</div>
                    </md-input-container>
                </div>
                <div class="col-xs-4">
                    <md-input-container class="md-block" style="margin-bottom: 0;">
                        <label>Flags</label>
                        <input ng-model="$ctrl.queryBuilderForm.format.custom.flags" ng-change="$ctrl.formatQuery($ctrl.queryBuilderForm.bins, $ctrl.queryBuilderForm.format, $ctrl.queryBuilderForm.delimiter)">
                    </md-input-container>
                </div>
            </div>
        </div>
        <md-input-container class="md-block">
            <label>Delimiter</label>
            <md-select ng-model="$ctrl.queryBuilderForm.delimiter.selected" ng-change="$ctrl.formatQuery($ctrl.queryBuilderForm.bins, $ctrl.queryBuilderForm.format, $ctrl.queryBuilderForm.delimiter)" aria-label="Delimiter Selector">
                <md-option ng-repeat="option in $ctrl.queryBuilderForm.delimiter.options track by $index" value="{{option.value}}">
                    {{option.label}}
                </md-option>
            </md-select>
        </md-input-container>
        <div ng-if="$ctrl.queryBuilderForm.delimiter.selected === 'customDelimiter'">
            <md-input-container class="md-block">
                <label>Custom Delimiter</label>
                <input ng-model="$ctrl.queryBuilderForm.delimiter.custom.pattern" ng-trim="false" ng-change="$ctrl.formatQuery($ctrl.queryBuilderForm.bins, $ctrl.queryBuilderForm.format, $ctrl.queryBuilderForm.delimiter)">
                <div class="hint">RegEx</div>
            </md-input-container>
        </div>
        <div class="query-viewer-container">
            <span style="position: absolute;top: 5px;right: 0px;">
                <span style="background-color: white;padding: 8px 2px 2px 5px;margin-right: 17px;">
                    <ng-md-icon icon="clippy" size="18" view-box="0 0 1024 896" ngclipboard data-clipboard-action="copy" data-clipboard-target="#query-viewer" ngclipboard-success="$ctrl.onSuccess(e);" aria-label="Copy To Clipboard Button"></ng-md-icon>
                </span>
                <!--<md-button class="md-icon-button" ngclipboard data-clipboard-action="copy" data-clipboard-target="#query-viewer" ngclipboard-success="$ctrl.onSuccess(e);" aria-label="Copy To Clipboard Button">
                    <ng-md-icon icon="clippy" size="18" view-box="0 0 1024 896"></ng-md-icon>
                </md-button>-->
            </span>
            <textarea id="query-viewer" ng-model="$ctrl.queryBuilderForm.queryViewer" class="query-viewer" readonly></textarea>
        </div>
    </md-card-content>
</md-card>
