.query-viewer-container {
  height: 100px;
  width: 100%;
  position: relative;
}
.query-viewer {
  height: 100px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

textarea[disabled] {
  background-color: white;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}