.file-manager-content {
	padding: 8px 0;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
    height: 50px;
	text-align: center;
	padding: 10px;
	margin-left: 10px;
}

.right {
    position: absolute;
    right: 0px;
}

#contextmenu-node{
	position: absolute;
	background-color: white;
	border: solid #CCCCCC 1px;
	padding: 0px;
	z-index: 1000;
}

.contextmenu-item{
	margin: 0.5em;
	padding-left: 0.5em;
}

.contextmenu-item:hover{
	background-color: #CCCCCC;
	cursor: default;
}

.icon-with-text {
    text-align: justify;
	display: inline-block;
	padding: 16px 8px 0 8px;
	width: 72px;
	margin-right: 5px;
}

span:focus {
	outline:none;
	border: 0;
}

.section-footer {
	height: 20px;
	color: black;
	padding: 0 5px;
	font-size: 14px;
	line-height: 23px;

	background: rgba(226,226,226,1);
}