<md-card>
    <div class="section-headers">
        <span>
            File Manager
        </span>
            <span class="pull-right hvr-grow" style="margin-top: 3px;">
                <ng-md-icon class="" icon="info" size="16" view-box="0 0 100 100" style="fill: #212121" ng-click="vm.showFileManagerInfo($event)"></ng-md-icon>
            </span>
    </div>
    <div class="file-manager-content">
        <md-card-actions>
            <span>
                <md-button ngf-select="" ngf-drop="" ngf-change="vm.uploadFiles($files, $invalidFiles)" ngf-multiple="true"
                        class="md-raised" ngf-drop-available="dropAvailable" ngf-accept="vm.accept" ngf-pattern="vm.FileManagerService.accept">
                    File Upload
                </md-button>
                <md-button ng-disabled="vm.AppStateService.getState('editMode')" class="md-raised" ng-click="vm.pasteText()">Paste Text</md-button>
            </span>
            <div class="pull-right" style="padding-right:8px;">
                <md-button class="md-raised md-primary" ng-click="vm.ripIt($event); vm.JemaLoggerService.log('62494598?app=RipIt2&name=RipIt2&desc=RipIt clicked&payload=RipIt clicked')">Rip It</md-button>
                {{vm.needsRipping}}
            </div>
        </md-card-actions>
        <div style="height:calc(50vh - 25px - 69px - 64px); overflow-y: auto; margin-top:8px;padding-left: 8px;">
        <span title="{{item.displayName}}" class="icon-with-text no-select" ng-repeat="item in vm.StorageService.documents"
              ng-style="vm.determineStyle(item)" ng-click="vm.toggleSelected(item)"
              context-menu="vm.contextMenuOptions" context-item-disabled="vm.disableContextMenuItem(item)" item-name="item.displayName">
            <ng-md-icon icon="{{vm.setIcon(item)}}" size="48" style="{{item.valid ? 'fill:black;' : 'fill:red;'}}" view-box="0 0 32 32">
            </ng-md-icon>
            <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:center;">{{item.displayName}}</div>
        </span>
        </div>
    </div>
    <div class="section-footer">
        <span class="pull-right"><em><span ng-if="vm.count.activeDocument !== vm.count.totalDocument">{{vm.count.activeDocument}} / </span>{{vm.count.totalDocument}} documents</em></span>
    </div>
</md-card>
