<!--Anything you want to be on every page, place it in this file-->
<navbar></navbar>

<div class="app container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12 file-manager-container uncol">
                    <file-manager></file-manager>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 query-builder-container uncol">
                    <query-builder></query-builder>
                </div>
            </div>
        </div>

        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-8 uncol document-container">
                    <document></document>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12 uncol ripit-actions-container">
                            <ripit-actions></ripit-actions>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 uncol regex-tree-container">
                            <tree></tree>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 uncol result-container">
                    <result-output></result-output>
                </div>
            </div>
        </div>
    </div>
</div>