body {
  min-width: 1200px;
}

.app {
  height: calc(100vh - 50px);
  background-color: #EFEFEF;
}

.file-manager-container {
  height: calc(50vh - 32px);
}

.query-builder-container {
  height: calc(50vh - 18px);
}

.document-container {
  height: calc(60vh - 25px);
}

.result-container {
  height: calc(40vh - 32px);
}

.ripit-actions-container {
  height: 75px;
}

.regex-tree-container {
  height: calc(60vh - 93px);
  overflow-y: auto;
}

.see {
  border: 1px dashed black;
}

.section-headers {
  height: 30px;
  color: black;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0 5px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  background: rgba(226, 226, 226, 1);
  background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 78%, rgba(209, 209, 209, 1) 80%, rgba(254, 254, 254, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(78%, rgba(219, 219, 219, 1)), color-stop(80%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
  background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 78%, rgba(209, 209, 209, 1) 80%, rgba(254, 254, 254, 1) 100%);
  background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 78%, rgba(209, 209, 209, 1) 80%, rgba(254, 254, 254, 1) 100%);
  background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 78%, rgba(209, 209, 209, 1) 80%, rgba(254, 254, 254, 1) 100%);
  background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 78%, rgba(209, 209, 209, 1) 80%, rgba(254, 254, 254, 1) 100%);
  // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.no-padding {
  padding: 0;
}

.small-padding {
  padding: 8px;
}

.full-height {
  height: 100%;
}

.full-height-8 {
  height: calc(100% - 8px);
}

.full-height-8 {
  height: calc(100% - 16px);
}

.no-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.pointer {
  cursor: pointer !important;
}

.unrow {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.uncol {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

:focus {
  outline: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.1);
}

// ag-grid overrides
.ag-fresh .ag-body .ag-row-odd {
  background-color: rgba(33, 150, 243, .1);
}

.ag-font-style {
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 0;
}

.info-text {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

#log-iframe {
  position: absolute;
  top: -100px;
  height: 1px;
  width: 1px;
  left: -100px;
  visibility: hidden;
}