.exp-decorator {
	color: #B9BABF;
	font-weight: 700;
}
.regex-input-container {
	width: 70%;
	float: left;
}
.regex-input {
	font-size: 12pt;
	width: 90%;
	border: none;
	padding: 0;
}
.regex-flags-container {
	width: 85px;
	display: inline-block;
}
.flag {
	font-size: 10pt;
	line-height: 0;
}
