<div class="row" style="margin:5px; border:1px solid #cdcdcd">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-7">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="exp-decorator">/</span>
                        <input ng-model="vm.result.pattern" type="text" class="regex-input">
                        <span class="exp-decorator">/</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-select aria-label="custom" ng-model="vm.result.bin" style="margin:0">
                            <md-option value="Custom" selected="">Custom</md-option>
                            <md-option ng-repeat="bin in vm.bins" value="{{bin.label}}">
                            {{bin.label}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="regex-flags-container">
                    <div ng-repeat="(flag, value) in vm.flags" style="line-height:0;font-size:0">
                        <ng-md-icon icon="{{value ? 'check_box' : 'check_box_outline_blank'}}" size="16"
                                    ng-click="vm.selectFlag(flag)"></ng-md-icon>
			<span class="flag">
				{{flag}}
			</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <ng-md-icon icon="done" size="48" style="fill:{{vm.result.pattern ? '#00E676' : '#757575'}}"
                            ng-click="vm.save(vm.result)"></ng-md-icon>
            </div>
        </div>
    </div>
</div>

