.resultOutput {
	color: red;
}

.result-container-inner-height {
	height: calc(40vh - 40px)
}

.results-back-btn {
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    color: #FFFFFF;
    border: none;
    background-color: #FFAB40;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    // letter-spacing: 0.010em;
}
