<md-card style="height: calc(100% - 16px)">
    <md-card-content class="no-padding">
        <md-tabs md-selected="vm.AppStateService.state.selectedTab" md-stretch-tabs="always" class="result-container-inner-height">
            <md-tab id="tab1">
                <md-tab-label>
                    Results
                    <span>
                        <md-button ng-click="vm.showInfo($event)" class="md-icon-button" style="position:absolute;padding-top:0;margin-top:-2px;margin-left: -6px;" aria-label="Info">
                            <ng-md-icon icon="info" style="fill:#cdcdcd" size="18" view-box="0 0 100 100"></ng-md-icon>
                        </md-button>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <results></results>
                </md-tab-body>
            </md-tab>
            <md-tab label="MatchMaker" ng-disabled="" class="result-container-inner-height">
                <match-maker></match-maker>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>

