<md-card>
    <div class="section-headers">Documents</div>
    <md-card-content class="no-padding">
        <md-tabs md-border-bottom md-autoselect md-stretch-tabs="never" class="document-container-inner-height">
            <md-tab ng-repeat="document in vm.StorageService.activeDocuments" ng-disabled="vm.disableTab(document)" class="documents-container">
                <md-tab-label class="no-select">
                    {{document.displayName}}
                </md-tab-label>
                <md-tab-body>

                    <span ng-if="vm.AppStateService.getState('editMode')" class="button-container">
                        <md-button ng-click="vm.cancel()" class="md-raised document-button">
                            Cancel
                        </md-button>
                        <md-button ng-disabled="!document.content.trim().length" ng-click="vm.save(document.content)" class="md-raised document-button">
                            Save
                        </md-button>
                    </span>

                    <div ng-model="document.content"
                        contenteditable="{{vm.AppStateService.getState('editMode') ? vm.AppStateService.getState('editMode') : 'false'}}"
                        strip-br="false"
                        no-line-breaks="false"
                        select-non-editable="false"
                        move-caret-to-end-on-change="true"
                        strip-tag="true"

                        style="height:calc(60vh - 113px);white-space:pre"
                        ng-class="{'no-edit-mode':!vm.AppStateService.getState('editMode'), 'edit-mode':vm.AppStateService.getState('editMode')}"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>