.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.lightblue {
	background-color: lightblue;
}
.green {
	background-color: green;
}

[contenteditable] {
	overflow: auto;
	white-space: nowrap;
}

.button-container {
	position:absolute;
	right:30px;
}
.document-button {
	margin-left: 0;
	margin-right: 3px;
    z-index:9999;
}


.no-edit-mode {
	padding: 8px;
}

.edit-mode {
	padding: 5px;
	border: 3px dashed gray;
    background: white;
}

.document-container-inner-height {
	height: calc(60vh - 64px);
}
.document-close {
	fill: #e2e2e2;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 3px;
}
.document-close:hover {
	fill: #ffab40;
}

md-tab-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
