<md-toolbar style="min-height: 50px;">
    <div class="md-toolbar-tools" style="height: 50px;">
        <a ng-href="#"><img src="images/ripit-logo-50.png" alt="RipIt Logo" style="height:40px"></a>
        <span layout="row" flex layout-align="end center"><a ng-href="mailto:{{$ctrl.email}}"
                                                             class="md-caption">Feedback</a></span>
        <span class="logo-container">
            <img src="images/team_phoenix_logo_40.png" alt="Team Phoenix Logo">
        </span>
        <span class="logo-container">
            <img src="images/jida_seal-40.png" alt="JIDA Logo">
        </span>
    </div>
</md-toolbar>
