.bin-container {
    height: 85px;
    width: 101px;
    display: inline-block;
    font-size: 24px;
    margin-right: 5px;
    margin-bottom: 10px;
    vertical-align: top;
}

.bin-container > table,
.bin-container > table td {
    border: 1px solid black;
    table-layout: fixed;
    text-align: center;
}

.bin-container-title {
    font-size: 14px;
    text-align: center;
}
.bin-table-banner {
    text-align: center;
    height: 30px;
}

.bin-table-banner:before,
.bin-table-banner:after {
    content: " ";
    display: table;
}

.bin-table-banner:after {
    clear: both;
}

.bin-table-title {
    font-size: 24px;
    font-weight: bold;
}