<div ng-if="!vm.AppStateService.getState('showResultTable')" style="overflow-y: auto;height:calc(40vh - 89px);padding:8px;">
    <div ng-repeat="bin in vm.HelpersService.toArray(vm.binData) | orderBy: 'name'" class="bin-container" ng-click="vm.viewBinResult(bin.name)">
        <table style="border: 1px solid black;font-size:16px">
            <tr>
                <td style="width: 50px">{{bin.uniqueEntityCount}}</td>
                <td style="width: 50px">{{bin.totalEntityCount}}</td>
            </tr>
            <tr>
                <td colspan="2">{{bin.documentCount}}</td>
            </tr>
        </table>
        <div class="bin-container-title">{{bin.name}}</div>
    </div>
</div>
<div ng-if="vm.AppStateService.getState('showResultTable')">
    <div class="bin-table-banner">
        <span style="position: absolute;left: 10px;padding-top: 5px">
            <button class="results-back-btn" aria-label="Back" ng-click="vm.closeBinResults()">
                Back to Results
            </button>
        </span>
        <span class="bin-table-title">{{vm.AppStateService.getState('currentBinView')}}</span>

    </div>
    <div ag-grid="vm.gridOptions" class="ag-fresh" style="height: calc(40vh - 126px);"></div>
</div>
