<div ng-if="!$ctrl.AppStateService.getState('showMatchMakerTable')" style="overflow-y: auto;height:calc(40vh - 89px);padding:8px;">
    <div ng-if="$ctrl.HelpersService.size($ctrl.StorageService.activeDocuments) < 2">
        You must have two or more documents selected to use MatchMaker.
    </div>
    <div ng-if="$ctrl.HelpersService.size($ctrl.StorageService.activeDocuments) >= 2">
        <div ng-repeat="(name, bin) in $ctrl.matchMakerOverviewBins | orderByKey:'+'" class="bin-container" ng-click="$ctrl.viewMatchMakerResult(name)">
            <table style="border: 1px solid black;font-size:16px;">

                <tr>
                    <td style="width: 100px">{{bin.length}}</td>
                </tr>
            </table>
            <div class="bin-container-title">{{name}}</div>
        </div>
    </div>
</div>
<div ng-if="$ctrl.AppStateService.getState('showMatchMakerTable')">
    <div ng-if="$ctrl.HelpersService.size($ctrl.StorageService.activeDocuments) < 2">
        You must have two or more documents selected to use MatchMaker.
    </div>
    <div ng-if="$ctrl.HelpersService.size($ctrl.StorageService.activeDocuments) >= 2">
        <div class="bin-table-banner">
            <span style="position: absolute;left: 10px;padding-top: 5px">
                <button class="results-back-btn" aria-label="Back" ng-click="$ctrl.closeMatchMakerTable()">
                    Back to MatchMaker
                </button>
            </span>
            <span class="bin-table-title">{{$ctrl.AppStateService.getState('currentBinView')}}</span>

        </div>
        <div ag-grid="$ctrl.gridOptions" class="ag-fresh" style="height: calc(40vh - 126px);"></div>
    </div>

</div>