<md-card>
    <md-card-content class="small-padding">
        <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-button md-raised" ng-click="$mdOpenMenu($event)">
                Export
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button class="" ng-click="$ctrl.exportXLSX($event)">Excel</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="" ng-click="$ctrl.exportKML($event)">KML (Coming Soon)</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="" ng-click="$ctrl.exportANB($event)">ANB (Coming Soon)</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </md-card-content>
</md-card>