<md-card style="height:calc(100% - 16px)">
    <div class="section-headers">
        <span>
            Extraction Selector
        </span>

    </div>
    <md-card-content class="small-padding" style="overflow-y: auto;overflow-x: hidden;">
        <md-card-actions>
            <md-button class="md-raised" ng-click="vm.selectAll()" aria-label="Select All">
                Select All
            </md-button>
            <md-button class="md-raised" ng-click="vm.deselectAll()" aria-label="Clear All">
                Clear All
            </md-button>
            <!--<md-button class="md-icon-button md-raised" ng-click="vm.selectAll()" aria-label="Select All">-->
                <!--<ng-md-icon icon="select_all" size="24" view-box="0 0 24 24"></ng-md-icon>-->
            <!--</md-button>-->
            <!--<md-button class="md-icon-button md-raised" ng-click="vm.deselectAll()" aria-label="Clear All">-->
                <!--<ng-md-icon icon="clear_all" size="24" view-box="0 0 24 24"></ng-md-icon>-->
            <!--</md-button>-->
        </md-card-actions>
        <div
            ivh-treeview="vm.treeData"
            ivh-treeview-on-toggle="vm.traverseCallback(ivhNode, ivhIsExpanded, ivhTree)"
            ivh-treeview-on-cb-change="vm.changeCallback(ivhNode, ivhIsSelected, ivhTree)">
        </div>

    </md-card-content>
</md-card>
