.tree {
	color: red;
}

ul {
	list-style: none;
	padding-left: 15px;
}

.ivh-treeview-twistie {
	width: 18px;
	display: inline-block;
}

md-checkbox.md-checked.blue .md-icon {
	background-color: rgba(16, 108, 220, 0.87);
}